.home{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.logo{
    margin-top: 50px;
    margin-left: 100px;
}
.logo h1{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    color: #6A8686;
    padding-bottom: 20px;
}
.tasks-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 50px;
    gap: 50px;
}

.list-container{
    background-color: #EBF5FB;
}
.user-info{
    display: flex;
    align-items: flex-end;
    justify-content: center
}
.user-img img{
    width: 70px;
    border-radius: 35px;
}
.user-details{
    margin-left: 10px;
}
.user-details h2{
    margin-bottom: 0;
}
.user-details p{
    margin: 0;
}

@media screen and (max-width: 990px) {
    .tasks-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}