.home{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.logo{
    margin-top: 50px;
    margin-left: 100px;
}
.logo h1{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    color: #6A8686;
    padding-bottom: 20px;
}
.tasks-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 50px;
}